*{
    box-sizing: border-box;
}

body{
    background-image: url("images/dogs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.shadow{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 190vh;
}



.title{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.title img{
    width: 10%;
}



.content{
    width: 50%;
    color: white;
    margin:5% 2% 2% 2%;
}


button{
    background-color: green;
    color: red;
    padding: 10px 20px;
    font-size: 1.3em;
}




.dogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 90%;
    margin-left: 5%;
    grid-gap: 10px;
}


.dog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10%;
    background-color: #262626;
    width: 70%;
}


.dog img{
    width: 90%;
    margin-top: 5%;
}


.dog p{
    background-color:red;
    color: white;
    padding: 10px;
}


.main h3{
    font-size:40px;
    color: white;
    text-align: center;
}


.button{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.clasament{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 15%;
   margin: 5% auto auto auto;
   border: 2px solid red;
   color: white;

}


.place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #eee;
    color: black;
}

.place h1{
    margin-right: 10%;
    background-color: red;
    padding: 10px;
}



.sume{
    color: white;
    margin: 5%;
}


.suma{
    display: flex;
    flex-direction: row;
    color: white;
}

.suma h1{
    margin-right:5%;
}

.suma h2{
    background-color: green;
    color: red;
    padding: 10px 20px;
}

.btn3{
    margin: 2% 5% 5% 5%;
}